#archives {
  padding: 1rem

  .title {
    font-size: 2rem
    margin-bottom: 2rem
  }

  .wrap {
    margin-bottom: 1rem
  }

  .meta > a {
    padding: 0.5rem
    font-size: 1rem
    border-radius: 0.3rem
    background-color: #BBDEFB

    &:hover {
      background-color: #E3F2FD
    }
  }

  .year {
    margin-top: 1rem
    margin-left: 1rem

    .item {
      padding: 0.2rem 0.3rem
      display-flex()

      a {
        center()

        span:nth-child(1) {
          color: #898989
          font-size: 0.8rem
          margin-right: 2rem
        }

        span:nth-child(2) {
          font-size: 1rem
          padding: 0.2rem 0.3rem
          border-radius: 0.3rem

          &:hover {
            background-color: #e3f2fd
          }
        }
      }
    }
  }
}