@font-face {
    font-family: 'California-Medium'
    src: url('../font/California-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Radikal-Bold'
    src: url('../font/Radikal-Bold.woff2') format('woff2')
}