@font-face {
    font-family: 'California-Medium'
    src: url('../font/California-Medium.woff2') format('woff2')
}

@font-face {
    font-family: 'Radikal-Bold'
    src: url('../font/Radikal-Bold.woff2') format('woff2')
}

@font-face {
    font-family: 'En-demo'
    src: url('../font/demo.woff2') format('woff2')
}

@font-face {
    font-family: 'En-demo2'
    src: url('../font/demo2.woff2') format('woff2')
}

@font-face {
    font-family: 'Utone'
    src: url('../font/UTONE.woff2') format('woff2')
}

@font-face {
    font-family: 'Utone-bold'
    src: url('../font/UTONE-BOLD.woff2') format('woff2')
}

@font-face {
    font-family: 'Varela'
    src: url('../font/Varela.woff2') format('woff2')
}
