// https://github.com/chriskempson/tomorrow-theme
highlight-background = #ffffff
highlight-current-line = #efefef
highlight-selection = #d6d6d6
highlight-foreground = #4d4d4c
highlight-comment = #066
highlight-red = #c82829
highlight-orange = rgb(163, 21, 21)
highlight-yellow = #eab700
highlight-green = rgb(0, 128, 0)
highlight-aqua = #3e999f
highlight-blue = #4271ae
highlight-purple = rgb(0, 0, 255)
article-padding = 20px
highlight-font-family = Consolas, Monaco, Menlo, Consolas, monospace
color-border = #ddd
line-height = 1.6rem
color-link = #258fb8

$code-block {
    margin: 0
    padding: 0.5rem
    border-radius: 3px
    background-color: rgb(245, 245, 245)
    border-width: 1px 0
    overflow: auto
    color: highlight-foreground
    line-height: 1.3rem
    margin-bottom: 1rem
}

$line-numbers {
    color: #666
    font-size: 0.8rem
}

$base-style {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0.5rem
        padding-bottom: 0.5rem
        border-bottom: 1px solid #eaecef
        font-weight: bold
    }

    h1 {
        font-size: 1.5rem
    }

    h2 {
        font-size: 1.3rem
    }

    h3 {
        font-size: 1.2rem
    }

    h4 {
        font-size: 1.15rem
    }

    h5 {
        font-size: 1rem
    }

    h6 {
        font-size: 1rem
        color: color-grey
    }

    hr {
        border: 1px dashed color-border
    }

    strong {
        font-weight: bold
    }

    em, cite {
        font-style: italic
    }

    sup, sub {
        font-size: 0.75rem
        line-height: 0
        position: relative
        vertical-align: baseline
    }

    sup {
        top: -0.5rem
    }

    sub {
        bottom: -0.2rem
    }

    small {
        font-size: 0.85rem
    }

    acronym, abbr {
        border-bottom: 1px dotted
    }

    ul, ol, dl {
        font-size: 0.875rem
        margin: 0 20px
        line-height: line-height
    }

    ul, ol {
        ul, ol {
            margin-top: 0
            margin-bottom: 0
        }
    }

    ul {
        list-style: disc
    }

    ol {
        list-style: decimal
    }

    dt {
        font-weight: bold
    }
}

.post-wrap {
}

.post-entry {
    width: 1080px
    height: 100%
}

.post-entry, .post-wrap {
    @extend $base-style
    margin: 0 auto
    box-sizing: border-box
    position: relative
    width: 100%
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    flex-direction: column

    .header {
        margin-bottom: 2rem

        .title {
            font-size: 2rem
            margin-bottom: 1rem
        }

        .date {
            color: rgb(137, 137, 137)
            font-family: 'En-demo2'
            font-size: 1rem
        }
    }

    p, table {
        font-size: 0.875rem
        line-height: line-height
        margin: 0.2rem 0
    }

    a {
        color: color-link
        text-decoration: none

        &:hover {
            text-decoration: underline
        }
    }

    ul, ol, dl {
        margin-top: line-height
        margin-bottom: line-height
    }

    img, video {
        max-width: 100%
        height: auto
        display: block
        margin: auto
    }

    iframe {
        border: none
    }

    table {
        width: 100%
        border-collapse: collapse
        border-spacing: 0
    }

    th {
        font-weight: bold
        border-bottom: 3px solid color-border
        padding-bottom: 0.5em
    }

    td {
        border-bottom: 1px solid color-border
        padding: 10px 0
    }

    blockquote {
        font-size: 0.9rem
        margin: 0.9rem 0
        text-align: left
        padding: 0.2rem 1rem
        color: #657279
        background-color: #f7f7f7
        border-left: 5px solid rgb(254, 148, 145)

        footer {
            font-size: 1rem
            margin: line-height 0

            cite {
                &:before {
                    content: '—'
                    padding: 0 0.5em
                }
            }
        }
    }

    img {
        width: 100%
        border-radius: 3px
    }

    pre, code {
        font-size: 0.8rem
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace
    }

    code {
        margin: 0 0.5rem
        color: #ff502c
        background: #fff5f5
        padding: 0 0.3em
        border-radius: 3px
        border: 1px solid #eee
        font-size: 0.9rem
    }

    pre {
        @extend $code-block

        code {
            background: none
            text-shadow: none
            padding: 0
        }
    }

    .highlight {
        @extend $code-block

        pre {
            border: none
            margin: 0
            padding: 0
        }

        table {
            margin: 0
            width: auto
        }

        td {
            border: none
            padding: 0
        }

        figcaption {
            clearfix()
            font-size: 0.9em
            color: highlight-comment
            line-height: 2em
            margin-bottom: 1em

            a {
                float: right
            }
        }

        .gutter pre {
            @extend $line-numbers
            text-align: right
            padding-left: 0.5rem
            padding-right: 1rem
        }

        .line {
            height: 1rem
        }

        .line.marked {
            background: highlight-selection
        }
    }

    .gist {
        margin: 0 article-padding * -1
        border-style: solid
        border-color: color-border
        border-width: 1px 0
        background: highlight-background
        padding: 15px article-padding 15px 0

        .gist-file {
            border: none
            font-family: highlight-font-family
            margin: 0

            .gist-data {
                background: none
                border: none

                .line-numbers {
                    @extend $line-numbers
                    background: none
                    border: none
                    padding: 0 20px 0 0
                }

                .line-data {
                    padding: 0 !important
                }
            }

            .highlight {
                margin: 0
                padding: 0
                border: none
            }

            .gist-meta {
                background: highlight-background
                color: highlight-comment
                font: 0.85rem font-sans
                text-shadow: 0 0
                padding: 0
                margin-top: 1rem
                margin-left: article-padding

                a {
                    color: color-link
                    font-weight: normal

                    &:hover {
                        text-decoration: underline
                    }
                }
            }
        }
    }
}

pre {
    .title {
        color: highlight-comment
    }

    .comment {
        color: rgb(115, 129, 145)
    }

    .built_in, .string, .number {
        font-weight: 600
    }

    .number {
        color: rgb(102, 14, 122)
    }

    .variable, .attribute, .tag, .regexp, .ruby .constant, .xml .tag .title, .xml .pi, .xml .doctype, .html .doctype, .css .id, .css .class, .css .pseudo {
        color: highlight-red
    }

    .preprocessor, .built_in, .literal, .params, .constant {
        color: highlight-orange
    }

    .class, .ruby .class .title, .css .rules .attribute {
        color: highlight-green
    }

    .string, .value, .inheritance, .header, .ruby .symbol, .xml .cdata {
        color: highlight-green
    }

    .css .hexcolor {
        color: highlight-aqua
    }

    .function, .python .decorator, .python .title, .ruby .function .title, .ruby .title .keyword, .perl .sub, .javascript .title, .coffeescript .title {
        color: highlight-blue
    }

    .keyword, .javascript .function {
        font-weight: 600
        color: highlight-purple
    }
}