@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
    html, body {
        font-size: 1rem
    }
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
    html, body {
        font-size: 1rem
    }

    // #head {
    //     display: none !important
    // }

    #container {
        width: 100% !important

        #main {
            // margin-top: 0 !important

            .content .posts .item .describe .meta .l .warp .desp {
                display: none
            }
        }

        #card-wrap {
            display: none
        }

        .banner {
            flex-direction: column
        }
    }
}