#movie {
  img {
    width: 12rem
    height: 16rem
  }
}

#album {
  img {
    width: 18rem
    height: 18rem
  }
}

#movie, #album {
  .title {
    font-size: 2rem
    margin-bottom: 1.75rem
  }

  .list {
    margin-bottom: 1rem
  }

  ul {
    display-flex()
    justify-content(flex-start)
    flex-wrap(wrap)
    list-style-type: none

    li {
      margin-left: 0.5rem
      margin-right: 0.5rem
      margin-bottom: 2rem
    }

    a {
      display-flex()
      justify-content(center)
      flex-direction(column)
    }

    .name {
      text-align: center
      font-size: 0.875rem
      margin-top: 0.5rem

      &:hover {
        color: #1976db
      }
    }
  }
}