@import 'reset.styl'
@import 'font.styl'
@import 'index.styl'

#main {
    width: 100%
    height: 100%
    background-color: #fff

    header {
        width: 100%
        position: fixed
        padding-top: 29px
        padding-bottom: 30px
        background-color: #0c2f51
        }


    .title {
        width: 120px
        color: #fff
        font-size: 48px
        padding: 0 20px
        font-family: 'California-Medium'
        text-shadow: 0 0 42px #fff
        -webkit-transform: skewY(-11.5deg)
        transform: skewY(-11.5deg)
        pointer-events: none // 去除鼠标事件
    }
}