display-flex() {
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
}

justify-content($content = center) {
    -moz-justify-content: $content
    -webkit-justify-content: $content
    justify-content: $content
}

align-items($align = center) {
    -moz-align-items: $align
    -webkit-align-items: $align
    align-items: $align
}

flex-direction($direction = row) {
    -ms-flex-flow: $direction
    -webkit-flex-flow: $direction
    flex-flow: $direction
}

flex-wrap($wrap = wrap) {
    -ms-flex-wrap: $wrap
    -moz-flex-wrap: $wrap
    -webkit-flex-wrap: $wrap
    flex-wrap: $wrap
}

// 水平垂直居中
center() {
    display-flex()
    justify-content()
    align-items()
}

level-center() {
    display-flex()
    justify-content()
}

vertical-center() {
    display-flex()
    align-items()
}

.a {
    transition: -webkit-transform, top, background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    transition: transform, top, background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    transition: transform, top, background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1)
}