<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="vvVgSQUzPU" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="虎虎|博客|个人|utone|Utone|" />
    <meta name="description" content="骑士恨煎蛋，骑士恨孜然" />
    <title> </title>
    <%- css('style/style') %>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="title hover">utone</div>
        <div class="menu">
          <ul>
            <li><a href="#" class="hover">Home</a></li>
            <li><a href="#" class="hover">Archive</a></li>
            <li><a href="#" class="hover">About</a></li>
            <li><a href="#" class="hover">Rss</a></li>
            <li><a href="#" class="hover">Search</a></li>
          </ul>
        </div>
      </header>
      <div class="main">
        <div class="mask"></div>
        <aside class="left"></aside>
        <aside class="right"></aside>
        <div class="logo hover">
          <div class="sign hover">
            utone
            <p>personal site</p>
          </div>
        </div>
      </div>
      <footer></footer>
    </div>
  </body>
</html>
<%- js('scripts/index.js') %>
