<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="baidu-site-verification" content="vvVgSQUzPU" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="keywords" content="虎虎|博客|个人|utone|Utone|" />
    <meta name="description" content="骑士恨煎蛋，骑士恨孜然" />
    <title> </title>
    <%- css('style/style') %>
  </head>
  <body>
    <div id="main">
        <header>
        <div class="title">utone</div>
        </header>
        <article>31231</article>
      
        <footer>
        </footer>
      <span class="svg svg-brush">
        <svg width="100%" height="100%" class="icon-brush">
          <use
            xlink:href="https://www.kikk.be/2017/files/templates/kikk2017/public/assets/sprite.svg#brush"
          ></use>
        </svg>
      </span>
    </div>
  </body>
</html>
